DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=user_name
DB_PASS=user_pass
DB_NAME=hydrocast

JWT_SECRET=secret-key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=72h
JWT_REREFRESH_DURATION=24h

GRPC_PORT=50051

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
GOOSE_MIGRATION_DIR=backend/internal/database/migrations

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin.example@email.com
ADMIN_PASSWORD=admin_password